@import '../../../style/variables.scss';

.comic {
    display: flex;
    justify-content: start;

    & img {
        display: block;
        margin-right: 50px;
        width: 293px;
    }

    &__link {
        display: block;
        font-size: 18px;
        font-weight: 700;
        margin-left: auto;
        min-width: max-content;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-right: 120px;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.09px;
        text-align: left;

        &__title {
            font-size: 22px;
            font-weight: 700;
        }

        &__price {
            font-size: 24px;
            font-weight: 700;
            color: $darkRed;
        }
    }
}

.charactersList {

    &__list {
        margin: 0 auto;
        width: 100%;

        &__item {
            font-size: 22px;
            font-weight: 700;
            line-height: 25.78px;
            margin: 10px 0;
            padding: 5px 10px;
            box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
            
            &:hover {
                cursor: pointer;
                transform: translateX(-10px);
                transition: all .3s;
            }
        }

    }
}

.char {
    display: flex;
    justify-content: start;

    &__info {
        margin-left: 50px;
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        &__name {
            font-size: 22px;
            font-weight: 700;
        }
        &__descr {
            margin-top: 25px;
        }
    }

    &__img {
        width: 290px;
    }
}
