.banner {
    display: grid;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    grid-template-columns: 24% 60% 16%;
    grid-template-rows: 100px;
    background-color: #232222;
    justify-items: center;
    align-items: center;

    p {
        justify-self: left;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.13px;
        text-align: left;
        color: #fff;
    }
}