@import '../../style/variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-right: 25px;
    .btn {
        margin-top: 45px;
    }
}

.characters {
    display: grid;
    grid-template-columns: repeat(3, 208px);
    grid-template-rows: repeat(3, 318px);
    gap: 25px;

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        &-active {
            box-shadow: 0px 5px 20px $darkRed;
            transform: translateY(-10px);
        }
        &:hover {
            transform: translateY(-10px);
        }
        p {
            font-size: 22px;
            line-height: 25px;
            font-weight: 700;
            padding: 15px;
            background-color: $dark;
            color: #fff;
            height: 118px;
        }

        &__img {
            width: 100%;
            object-fit: cover;
            height: 200px;  
            &-not {
                object-fit: fill;
            }
        }
    }
      
}