@import '../../style/variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    h1, p {
        font-size: 28px;
        font-weight: 700;
    }

    &__link {
        font-size: 28px;
        font-weight: 700;
        a {
            &:hover {
                color: $darkRed;
            }
        }
    }

    .active {
        color: $darkRed;
    }
}

