@import './variables.scss';

.btn {
    display: block;
    min-width: 110px;
    min-height: 38px;
    font-size: 14px;
    font-weight: 400;
    padding: 11px 18px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
    clip-path: polygon(
      0% 10px,
      10px 0,
      100% 0,
      100% calc(100% - 10px),
      calc(100% - 10px) 100%,
        0 100%
    );
    &:hover {
        transform: translateY(-3px);
    }
    &-second {
        background-color: $grey;
    }
    &-main {
        background-color: $darkRed;
    }
    &-long {
        min-width: 170px;
        background-color: $darkRed;
    }
    &:disabled {
        filter: grayscale(50%)
    }
}
  
  