@import '../../style/buttons.scss';
@import '../../style/variables.scss';

.search {
    padding: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);
    background-color: #fff;

    &__error, &__success {
        margin-top: 22px;
        color: $darkRed;
        font-size: 18px;
        font-weight: 700;
        text-align: left;
    }

    &__success {
        margin-top: 0px;
        max-width: 212px;
        color: $green;
    }

    &__label {
        font-size: 18px;
        font-weight: 700;
        text-align: left;
    }
}

.input-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

    &__name {
        min-width: 210px;
        padding: 10px;
        border: none;
        box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
        
        &:focus {
            outline: solid 0.5px rgba(0,0,0,.25);
        }

        &::placeholder {
            font-size: 14px;
            font-weight: 400;
            line-height: 16.41px;
            text-align: left;

        }
    }
}

.found-char {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
